# Database
DATABASE_URL=postgresql://postgres:1234@localhost:5433/acara_rsi

# JWT
JWT_SECRET_KEY=sdbif2382isdnfafd83278dq2f39d8f9i23utt2dhhcew
JWT_EXPIRE_MINUTES=60

# CORS (comma-separated origins)
CORS_ORIGINS=http://localhost:3000
